/_build/
/cover/
/deps/
/doc/dist/*
/doc/.build

/config/*.secret.exs

uploads/*.gif
uploads/*.jpg
uploads/*.pdf
uploads/*.png

/.fetch
erl_crash.dump
.idea
*.iml
*.ez

chat.tar.bz2
elixir_chat_server.tar.bz2
Project-Aquamarine.tar.bz2

streamers.ex
streamers_test.exs
updated_frontend_schema.txt
stripe_testing.tar.bz2

curl_twitter.sh
phx-1.5-upgrade.md
DAXX.md
VERSION
mix.lock
