/_build/
/cover/
/deps/
/doc/dist/*
/doc/.build

# /config/*.secret.exs

uploads/*.gif
uploads/*.jpg
uploads/*.pdf
uploads/*.png

/.fetch
erl_crash.dump
*.ez

elixir_logo.png
S3UploadPicture.sh

DAXX.md
VERSION
mix.lock
