/_build/
/cover/
/deps/
/doc/dist/*
/doc/.build

apps/ptin/priv/data/*
apps/reptin/priv/data/*
apps/reptin/src/*

/config/*.secret.exs

uploads/*.gif
uploads/*.jpg
uploads/*.pdf
uploads/*.png

/.fetch
erl_crash.dump
.idea
*.iml
*.ez

Create.ProOne.txt
DAXX.md
Project-Aquamarine.tar.bz2
Tasks-01032021.txt
ThePragmaticBookshelf.tar.bz2
VERSION
chat.tar.bz2
curl_twitter.sh
downloads.ex.v1
elixir_chat_server.tar.bz2
gen_server_try.tar.bz2
mix.lock
payments.ex
phx-1.5-upgrade.md
project_schema.pdf
project_schema.txt
ptin_schema_csv.txt
streamers.ex
streamers_test.exs
stripe_card.ex.save
stripe_platform_card_service.ex.save
stripe_testing.tar.bz2
stripe_users.txt
twitter_api_curl.md
updated_frontend_schema.txt
